<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <servlet>
    <servlet-name>Test</servlet-name>
    <servlet-class>test.Test</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListQueryServlet</servlet-name>
    <servlet-class>web.controller.ListQueryServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>ListClickServlet</servlet-name>
    <servlet-class>web.controller.ListClickServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AlgorithmServlet</servlet-name>
    <servlet-class>web.controller.AlgorithmServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowSensitivityPageServlet</servlet-name>
    <servlet-class>web.controller.ShowSensitivityPageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListPreprocessingServlet</servlet-name>
    <servlet-class>web.controller.ListPreprocessingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListClusterServlet</servlet-name>
    <servlet-class>web.controller.ListClusterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListClusterFilterServlet</servlet-name>
    <servlet-class>web.controller.ListClusterFilterServlet</servlet-class>
  </servlet>






  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/servlet/Test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListQueryServlet</servlet-name>
    <url-pattern>/servlet/ListQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListClickServlet</servlet-name>
    <url-pattern>/servlet/ListClickServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlgorithmServlet</servlet-name>
    <url-pattern>/servlet/AlgorithmServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowSensitivityPageServlet</servlet-name>
    <url-pattern>/servlet/ShowSensitivityPageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListPreprocessingServlet</servlet-name>
    <url-pattern>/servlet/ListPreprocessingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListClusterServlet</servlet-name>
    <url-pattern>/servlet/ListClusterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListClusterFilterServlet</servlet-name>
    <url-pattern>/servlet/ListClusterFilterServlet</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
